In [ ]:
# Tuple
tup1 = ("Rohan", "Physics", 21, 69.75)
tup2 = (1, 2, 3, 4, 5)
tup3 = ("a", "b", "c", "d")
tup4 = (25.50, True, -55, 1+2j)
tup1, tup2, tup3, tup4

(('Rohan', 'Physics', 21, 69.75),
 (1, 2, 3, 4, 5),
 ('a', 'b', 'c', 'd'),
 (25.5, True, -55, (1+2j)))

In [ ]:
tup1[0:2],tup1[1:],tup1[-1:-4:-1]

(('Rohan', 'Physics'), ('Physics', 21, 69.75), (69.75, 21, 'Physics'))

In [ ]:
# tuple operations
# tup2[1]=100
tup5=tup1+tup2
tup5

tup6=tup1*2
tup6

print('Physics' in tup1)

('Rohan', 'Physics', 21, 69.75, 1, 2, 3, 4, 5)

In [ ]:
# List

list1 = ['larry', 'curly', 'moe',1001]
list1.append('shemp')         ## append elem at end
list1.insert(0, 'xxx')        ## insert elem at index 0
list1.extend(['yyy', 'zzz'])  ## add list of elems at end
print(list1)  ## ['xxx', 'larry', 'curly', 'moe', 'shemp', 'yyy', 'zzz']
print(list1.index('curly'))    ##
list1.remove('curly')         ## search and remove that element
list1.pop(3)                  ## removes and returns 'larry'
print(list1)  ## ['xxx', 'moe', 'shemp', 'yyy', 'zzz']

['xxx', 'larry', 'curly', 'moe', 1001, 'shemp', 'yyy', 'zzz']
2
['xxx', 'larry', 'moe', 'shemp', 'yyy', 'zzz']

In [ ]:
# list.append(elem) -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
# list.insert(index, elem) -- inserts the element at the given index, shifting elements to the right.
# list.extend(list2) adds the elements in list2 to the end of the list.
# list.index(elem) -- searches for the given element from the start of the list and returns its index.
# list.remove(elem) -- searches for the first instance of the given element and removes it (throws ValueError if not present)
# list.sort() -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
# list.reverse() -- reverses the list in place (does not return it)
# list.count(obj)

In [ ]:
# List Comprehension
squr=[x**2 for x in range(5)]
type(squr)

list

In [ ]:

T1 = (10, 20, 30, 40)
# Converting the tuple to a list
list_T1 = list(T1)
# Using list comprehension
updated_list = [item + 100 for item in list_T1]
# Converting the updated list back to a tuple
T2 = tuple(updated_list)
print(T2)

(110, 120, 130, 140)

In [ ]:
list1.sort()
list1.reverse()
list1

['zzz', 'yyy', 'xxx', 'shemp', 'moe']

In [ ]:
# sorting

list1=[5,2,8,3,9,1,10]
sorted(list1)
list1

[5, 2, 8, 3, 9, 1, 10]

In [ ]:
sorted(list1,reverse=True)
list1

[5, 2, 8, 3, 9, 1, 10]

In [ ]:
# python operations
list3=[1, 2, 3] + [4, 5, 6]
list3*3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [1]:
# Dictionary
capitals = {"Maharashtra":["Mumbai","lonawala"], "Gujarat":("Gandhinagar","kandla"), "Telangana":"Hyderabad", "Karnataka":"Bengaluru"}
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
marks = {"Savita":67, "Imtiaz":88, "Laxman":91, "David":49}
capitals,numbers,marks

({'Maharashtra': ['Mumbai', 'lonawala'],
  'Gujarat': ('Gandhinagar', 'kandla'),
  'Telangana': 'Hyderabad',
  'Karnataka': 'Bengaluru'},
 {10: 'Ten', 20: 'Twenty', 30: 'Thirty', 40: 'Forty'},
 {'Savita': 67, 'Imtiaz': 88, 'Laxman': 91, 'David': 49})

In [ ]:
# Creating a dictionary using curly braces
sports_player = {"Name": "Sachin Tendulkar","Age": 48,"Sport": "Cricket"}
print ("Dictionary using curly braces:", sports_player)
# Creating a dictionary using the dict() function
student_info = dict(name="Alice", age=21, major="Computer Science")
print("Dictionary using dict():",student_info)

Dictionary using curly braces: {'Name': 'Sachin Tendulkar', 'Age': 48, 'Sport': 'Cricket'}
Dictionary using dict(): {'name': 'Alice', 'age': 21, 'major': 'Computer Science'}

In [ ]:
# Tuple can a index, key will be immutable
d1 = {"Fruit":["Mango","Banana"], "Flower":["Rose", "Lotus"]}
d2 = {('India, USA'):'Countries', ('New Delhi', 'New York'):'Capitals'}
print (d1)
print (d2)

In [2]:
# access dictionary elements
student_info = {
   "name": "Alice",
   "age": 21,
   "major": "Computer Science"
}
# Accessing values using square brackets
name = student_info["name"]
print("Name:",name)

# Accessing values using the get() method
age = student_info.get("age")
print("Age:",age)

Name: Alice
Age: 21

In [3]:
student_info = {
   "name": "Alice",
   "age": 22,
   "major": "Computer Science",
   "graduation_year": 2023
}
# Iterating through keys
for key in student_info:
   print("Keys:",key,",", "values:",student_info[key])

# Iterating through values
for value in student_info.values():
   print("Values:",value)

# Iterating through key-value pairs
for key, value in student_info.items():
   print("Key:Value:",key, value)

Keys: name , values: Alice
Keys: age , values: 22
Keys: major , values: Computer Science
Keys: graduation_year , values: 2023
Values: Alice
Values: 22
Values: Computer Science
Values: 2023
Key:Value: name Alice
Key:Value: age 22
Key:Value: major Computer Science
Key:Value: graduation_year 2023

In [ ]:
# dict.clear()
Animal = {"Name":"Lion","Kingdom":"Animalia","Class":"Mammalia","Order":"Carnivora"}
print("Elements of the dictionary before removing elements are: ", Animal)
res = Animal.clear()
print("Elements of the dictionary after removing elements are: ", res)

Elements of the dictionary before removing elements are:  {'Name': 'Lion', 'Kingdom': 'Animalia', 'Class': 'Mammalia', 'Order': 'Carnivora'}
Elements of the dictionary after removing elements are:  None

In [4]:
# dict.copy()
dictionary = {5: 'x', 15:'y', 25: [7, 8, 9]}
print("The given dictionary is: ", dictionary)
# using copy() method to copy
d2 = dictionary.copy()
print("The new copied dictionary is: ", d2)
# Updating the elements in second dictionary
d2[15] = 'yy'
# updating the items in the list
d2[25][1] = '98'
print("The updated dictionary is: ", dictionary)

The given dictionary is:  {5: 'x', 15: 'y', 25: [7, 8, 9]}
The new copied dictionary is:  {5: 'x', 15: 'y', 25: [7, 8, 9]}
The updated dictionary is:  {5: 'x', 15: 'y', 25: [7, '98', 9]}

In [16]:
# dict.fromkeys(seq)
seq = ('name', 'age', 'sex')
dict = dict.fromkeys(seq)
# providing a value 10
value = 10
dict = dict.fromkeys(seq, value)
print ("New Dictionary : %s" %  str(dict))

New Dictionary : {'name': 10, 'age': 10, 'sex': 10}

In [19]:
dict1 = {'age': 35, 'name': 'abc', 'salary': 45000}

val = 'age'
print(val)
if val in dict1:
    print('This is a member of the dictionary')
else:
    print('This is not a member of the dictionary')

age
This is a member of the dictionary

In [ ]:
def dict_freq(str1):
    '''str1 is a string
       Ouput -> A dictionary is expected to be returned'''
    result = {}

    for i in str1:
        if i in result:
            result[i] += 1
        else:
            result[i] = 1

    return result

dict_freq('van van van')

{'v': 3, 'a': 3, 'n': 3, ' ': 2}

In [20]:
# FINDING KEY WITH MOST UNIQUE ELEMENTS
def countUnique(dictionary):
    max_val = 0
    max_key = None
    for i in dictionary.keys():
        s1=set(dictionary[i])
        if len(s1)>max_val:
            max_val=len(s1)
            max_key=i
    print(max_key)

d = {5: ['x','y'], 15: ['x','y'], 25: [7, 8, 9]}
countUnique(d)

25

In [ ]:
#Set theory
my_set = {1, 2, 3, 4, 5}
print (my_set)

my_set = set([1, 2, 3, 4, 5])
print (my_set)

my_set = {1, 2, 2, 3, 3, 4, 5, 5}
print (my_set)

mixed_set = {1, 'hello', (1, 2, 3)}
print (mixed_set)

my_set = {1, 2, 3, 3}
# Adding an element 4 to the set
my_set.add(4)
print (my_set)

my_set = {1, 2, 3, 4}
# Removes the element 3 from the set
my_set.remove(3)
print (my_set)

my_set = {1, 2, 3, 4}
# No error even if 5 is not in the set
my_set.discard(5)
print (my_set)

squared_set = {x**2 for x in range(1, 6)}
print(squared_set)

even_set = {x for x in range(1, 11) if x % 2 == 0}
print(even_set)

nested_set = {(x, y) for x in range(1, 3) for y in range(1, 3)}
print(nested_set)

my_frozen_set = frozenset([1, 2, 3])
print(my_frozen_set)
my_frozen_set.add(4)

# Defining a set
langs = {"C", "C++", "Java", "Python"}

# Accessing set items using a for loop
for lang in langs:
   print (lang)

my_set = {1, 2, 3, 4, 5}
# Accessing set items using list comprehension
accessed_items = [item for item in my_set]
print(accessed_items)

# Defining a set
langs = {"C", "C++", "Java", "Python"}



# Checking if an item exists in the set
if "Java" in langs:
    print("Java is present in the set.")
else:
    print("Java is not present in the set.")
# Checking if an item does not exist in the set
if "SQL" not in langs:
    print("SQL is not present in the set.")
else:
    print("SQL is present in the set.")


# Defining an empty set
language = set()
# Adding elements to the set using add() method
language.add("C")
language.add("C++")
language.add("Java")
language.add("Python")
# Printing the updated set
print("Updated Set:", language)


# Define a set, update can add multiple elements(iterables also)
my_set = {1, 2, 3}
# Adding element to the set
my_set.update([4])
# Print the updated set
print("Updated Set:", my_set)



# Defining three sets
lang1 = {"C", "C++", "Java", "Python"}
lang2 = {"PHP", "C#", "Perl"}
lang3 = {"SQL", "C#"}
# Performing union operation
combined_set1 = lang1.union(lang2)
combined_set2 = lang2 | lang3
# Print the combined set
print ("Combined Set1:", combined_set1)
print("Combined Set2:", combined_set2)


lang1 = {"C", "C++", "Java", "Python"} # when a iterable passed to union it will convert it into set
lang2 = ["PHP", "C#", "Perl"]
lang3 = lang1.union(lang2)
print (lang3)

In [ ]:
## Object Oriented Programming System
class Car:

  model = 'Sedan'
  color = 'Black'
  price = 1000000

  def drive(self):
    print('Zoom zoom')

  def lock(self):
    print('Locking the car')

  def unlock(self):
    print("Unlocking the car")

c1 = Car()
c2 = Car()

In [ ]:
print(c1.color, c1.price)

In [ ]:
print(c2.color, c2.price)

In [ ]:
c2.color = 'White'
print(c1.color, c1.price)
print(c2.color, c2.price)

In [ ]:
c2.fuel = 'Diesel'

print(c1.fuel)

In [ ]:
c2.fuel

In [ ]:
# Self keyword

class Car:

  model = 'Sedan'
  color = 'Black'
  price = 1000000

  def drive(self):
    print('Zoom zoom')

  def lock(self):
    print('Locking the car')

  def unlock(self):
    print("Unlocking the car")


  def printdetails(self, a, b, c):
    print(self.model, self.color)
    print(a, b, c)


c1 = Car()
c2 = Car()

c1.color = 'White'

In [ ]:
c1.printdetails(10, 20,30)

In [ ]:
c2.printdetails(10, 20, 30)

In [ ]:
class Car:

  def printdetails(self):
    print('Hi')

  def __init__(self, model, color):
    self.model = model
    self.color = color
    self.printdetails()

c1 = Car('Hatchbak', 'white')
c2 = Car('Sedan', 'Black')
print(c1.color, c2.color)

In [ ]:
class Car:
  def __init__(self, model, color, price=1000000):
    self.model = model
    self.color = color
    self.price = price

c1 = Car('Hatchback', 'Black', 1500000)
c1.price

In [ ]:
class Counter:
    def call(self):
        print(self.count)

c = Counter()
c.count = 5
c.call()

In [ ]:
def bar():
  print('abc')

def foo():
  print('xyz')
  bar()

foo()

In [ ]:
class Counter:
    def __init__(self):
        self.count=5
        self.count=self.count+1

c = Counter()
print(c.count)

In [ ]:
class Car:
  def __init__(self, n, m):
    self.name = n
    self.mileage = m

  def __str__(self):
    return f"{self.name}->{self.mileage}"

  def __add__(self, xyz):
    return self.mileage + xyz.mileage

  def __lt__(self, other):
    return self.mileage < other.mileage

c1 = Car('Nexon', 12)
c2 = Car('Altroz', 13)
c3 = Car('xyz', 14)

In [ ]:
print(c1+c2)
print(c1<c2)

25
True

In [ ]:
dir(c1)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'mileage',
 'name']

In [ ]:
c1.__dict__

{'name': 'Nexon', 'mileage': 12}

In [ ]:
class Car:

  def __init__(self, model, color, price):
    self.model = model
    self.color = color
    self.price = price

  def drive(self):
    print('zoom zoomm')

  def printdetails(self):
    print(self.price)

c1 = Car('Sedan', 'Black', 1000000)
c1.price

1000000

In [ ]:
c1.price = 1500000
c1.price

1500000

In [ ]:
c1.price = 'xyz'
c1.price

'xyz'

In [ ]:
class Employee:

  def __init__(self, name, salary, project):
    self.name = name
    self.__salary = salary
    self.project = project

  def __show(self):
    print(self.name, self.salary)

  def get_salary(self):
    return self.__salary

  def set_salary(self, salary):
    self.__salary = salary

emp = Employee('wasim', 20000000, 'NLP')

print(emp.get_salary())

emp.set_salary(15000000)
emp.get_salary()

20000000

15000000

In [ ]:
## Single Inheritance

class Vehicle:
  wheels = 4

  def vehicle_info(self):
    print('Insider of the vehicle class')

class Car(Vehicle):
  def car_info(self):
    self.vehicle_info()
    print('Insider of the Car class')


c = Car()
# c.vehicle_info()
c.wheels

4

In [ ]:
# Multiple Inheritance

class Person:

  def person_info(self, name, age):
    print('insider person class')


class Company:
  def company_info(self, name):
    print('Insider of company class')


class Employee(Person, Company):
  def employee_info(self):
    print('insider of employee class')

emp = Employee()
emp.person_info('satish', 29)

c = Company()

c.company_info('xyz')

insider person class
Insider of company class

In [ ]:
# Multi Level Inheritance

class Vehicle:
  def vehicle_info(self):
    print('insider of vehicle class')

class Car(Vehicle):
  def car_info(self):
    print('insider of car class')

class SportsCar(Car):
  def sports_car_info(self):
    print('insider of sports car class')

s = SportsCar()
s.vehicle_info()

insider of vehicle class

In [ ]:
# Hierarchical Inheirtance

# Multi Level Inheritance

class Vehicle:
  def vehicle_info(self):
    print('insider of vehicle class')

class Car(Vehicle):
  def car_info(self):
    print('insider of car class')

class Truck(Vehicle):
  def truck_info(self):
    print('Insider of truck class')

c = Car()

t = Truck()
c.vehicle_info()
t.vehicle_info()

insider of vehicle class
insider of vehicle class

In [ ]:
# Hybrid Inheritance

# Hierarchical Inheirtance

# Multi Level Inheritance

class Vehicle:
  def vehicle_info(self):
    print('insider of vehicle class')

class Car(Vehicle):
  def car_info(self):
    print('insider of car class')

class Truck(Vehicle):
  def truck_info(self):
    print('Insider of truck class')

class SportsCar(Car, Vehicle):
  def sports_car_info(self):
    print('insider of sports car')

c = Car()

t = Truck()
c.vehicle_info()
t.vehicle_info()

insider of vehicle class
insider of vehicle class

In [ ]:
class A:
    def __init__(self, name):
        self.name = name

a1 = A("Bunty")
a2 = A("Babli")

print(id(a1) == id(a2))

False

In [ ]:
class Random:
    def __init__(self, a='Is it possible?'):
        self.a = a

    def display(self):
        print(self.a)

r = Random()
r.display()

Is it possible?

In [ ]:
class A:
    def __init__(self):
        self.variable = 'Old'
        self.update(self.variable)

    def update(self, var):
        var = 'New'
        self.variable= 'New'

a = A()
print(a.variable)

New