In [ ]:
import pandas as pd
import numpy as np

# s = np.array([1,2,4,6,8,9,0])
# df=pd.Series(s)
# print (df)

# data = np.array(['a','b','c','d'])
# s = pd.Series(data,index=[100,101,102,103])
# print (s)

# data = {'a' : 0., 'b' : 1., 'c' : 2.}
# s = pd.Series(data)
# print (s)

# s = pd.Series(5, index=[0, 1, 2, 3])
# print (s)

# data = {'a' : 0., 'b' : 1., 'c' : 2.}
# s = pd.Series(data,index=['b','c','d','a'])
# print (s)

# s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
# print (s[0])


# s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
# print (s[:3])

# s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
# print (s[['a','c','d']])

# data = [['Alex',10,11],['Bob',12,22],['Clarke',13,33]]
# df = pd.DataFrame(data,columns=['Name','Age','Score'],index=[101,102,103])
# print (df)

# data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
# df = pd.DataFrame(data)
# print (df)

# data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
# df = pd.DataFrame(data, index=[1,2,3,4])
# print (df)


# data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
# df = pd.DataFrame(data)
# print (df)

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print (df['one'])
print(df.one)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [ ]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print (df)

print ("Adding a new column using the existing columns in DataFrame:")
df['three']=df['one']+df['two']

print (df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three
a  1.0    1    2.0
b  2.0    2    4.0
c  3.0    3    6.0
d  NaN    4    NaN

In [ ]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print (df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [ ]:
# lambda
# **kwargs

In [ ]:
# Matplotlib
# Seaborn

In [ ]:
# Data Preprocessing